# UV-Index Wrangling

This notebook wrangles the multiple uv-index datasets from 2007-2022 for Adelaide, Brisbane, Canberra, Melbourne, Perth, and Sydney available through the ARAPANSA into a city-specific dataset to be used in the onboarding process of Monash University FIT5120 Onboarding project. The wrangling process assumes that the datasets are saved in the root folder of the project.

Data source for each city are as follows:
* Melbourne data: https://data.gov.au/dataset/ds-dga-fb836013-f300-4f92-aa1e-fb5014aea40e/details?q=Ultraviolet%20Radiation%20Index
* Adelaide data: https://data.gov.au/dataset/ds-dga-026d4974-9efb-403d-9b39-27aee31a6439/details?q=Ultraviolet%20Radiation%20Index
* Perth data: https://data.gov.au/dataset/ds-dga-1b55352e-c0d8-48c8-9828-ef12885c9797/details?q=Ultraviolet%20Radiation%20Index
* Canberra data: https://data.gov.au/dataset/ds-dga-154d4d3b-2e8d-4dc2-b8ac-8f9805f99826/details?q=Ultraviolet%20Radiation%20Index
* Brisbane data: https://data.gov.au/dataset/ds-dga-2a1a2e49-de97-450e-9d0a-482adec68b22/details?q=Ultraviolet%20Radiation%20Index
* Sydney data: https://data.gov.au/dataset/ds-dga-c31a759c-a4d4-455f-87a7-98576be14f11/details?q=Ultraviolet%20Radiation%20Index

In [11]:
import os
import pandas as pd

# List the cities to be combined
cities = ['uv-adelaide','uv-brisbane','uv-melbourne','uv-canberra','uv-perth','uv-sydney']

# Create empty dataframe for each city to store the combined data
adelaide = pd.DataFrame()
brisbane = pd.DataFrame()
melbourne = pd.DataFrame()
canberra = pd.DataFrame()
perth = pd.DataFrame()
sydney = pd.DataFrame()

# Store the dataframes in a list
city_data = [adelaide, brisbane, melbourne, canberra, perth, sydney]

# Loop through the files in the root folder
for file in os.listdir():
    for city_index in range(len(cities)):
        # Create an empty DataFrame to store the combined data
        combined_data = pd.DataFrame()
        if file.endswith('.csv') and file.startswith(cities[city_index]):
            # Print the file name
            print(f'Reading {file}')

            # Read the CSV file into a DataFrame
            df = pd.read_csv(file)
            
            # Depending on whether the file contains the 'Date-Time' or 'timestamp' column, convert it to datetime format
            if 'Date-Time' in df.columns:
                df['Date-Time'] = pd.to_datetime(df['Date-Time'])
            elif 'timestamp' in df.columns:
                df['timestamp'] = pd.to_datetime(df['timestamp'])
                df = df.rename(columns={'timestamp': 'Date-Time'})
            
            # Append the DataFrame to the combined data
            combined_data = pd.concat([combined_data, df], ignore_index=True)
        
        # Update each city's dataframe with the combined data
        city_data[city_index] = pd.concat([city_data[city_index], combined_data], ignore_index=True)

Reading uv-adelaide-2007.csv
Reading uv-adelaide-2008.csv
Reading uv-adelaide-2009.csv
Reading uv-adelaide-2010.csv
Reading uv-adelaide-2011.csv
Reading uv-adelaide-2012.csv
Reading uv-adelaide-2013.csv
Reading uv-adelaide-2014.csv
Reading uv-adelaide-2015.csv
Reading uv-adelaide-2016.csv
Reading uv-adelaide-2017.csv
Reading uv-adelaide-2018.csv
Reading uv-adelaide-2019.csv
Reading uv-adelaide-2020.csv
Reading uv-adelaide-2021.csv
Reading uv-adelaide-2022.csv
Reading uv-brisbane-2007.csv
Reading uv-brisbane-2008.csv
Reading uv-brisbane-2009.csv
Reading uv-brisbane-2010.csv
Reading uv-brisbane-2011.csv
Reading uv-brisbane-2012.csv
Reading uv-brisbane-2013.csv
Reading uv-brisbane-2014.csv
Reading uv-brisbane-2015.csv
Reading uv-brisbane-2016.csv
Reading uv-brisbane-2017.csv
Reading uv-brisbane-2018.csv
Reading uv-brisbane-2019.csv
Reading uv-brisbane-2020.csv
Reading uv-brisbane-2021.csv
Reading uv-brisbane-2022.csv
Reading uv-canberra-2010.csv
Reading uv-canberra-2011.csv
Reading uv-canberra-2012.csv
Reading uv-canberra-2013.csv
Reading uv-canberra-2014.csv
Reading uv-canberra-2015.csv
Reading uv-canberra-2016.csv
Reading uv-canberra-2017.csv
Reading uv-canberra-2018.csv
Reading uv-canberra-2019.csv
Reading uv-canberra-2020.csv
Reading uv-canberra-2021.csv
Reading uv-canberra-2022.csv
Reading uv-melbourne-2007.csv
Reading uv-melbourne-2008.csv
Reading uv-melbourne-2009.csv
Reading uv-melbourne-2010.csv
Reading uv-melbourne-2011.csv
Reading uv-melbourne-2012.csv
Reading uv-melbourne-2013.csv
Reading uv-melbourne-2014.csv
Reading uv-melbourne-2015.csv
Reading uv-melbourne-2016.csv
Reading uv-melbourne-2017.csv
Reading uv-melbourne-2018.csv
Reading uv-melbourne-2019.csv
Reading uv-melbourne-2020.csv
Reading uv-melbourne-2021.csv
Reading uv-melbourne-2022.csv
Reading uv-perth-2007.csv
Reading uv-perth-2008.csv
Reading uv-perth-2009.csv
Reading uv-perth-2010.csv
Reading uv-perth-2011.csv
Reading uv-perth-2012.csv
Reading uv-perth-2013.csv
Reading uv-perth-2014.csv
Reading uv-perth-2015.csv
Reading uv-perth-2016.csv
Reading uv-perth-2017.csv
Reading uv-perth-2018.csv
Reading uv-perth-2019.csv
Reading uv-perth-2020.csv
Reading uv-perth-2021.csv
Reading uv-perth-2022.csv
Reading uv-sydney-2007.csv
Reading uv-sydney-2008.csv
Reading uv-sydney-2009.csv
Reading uv-sydney-2010.csv
Reading uv-sydney-2011.csv
Reading uv-sydney-2012.csv
Reading uv-sydney-2013.csv
Reading uv-sydney-2014.csv
Reading uv-sydney-2015.csv
Reading uv-sydney-2016.csv
Reading uv-sydney-2017.csv
Reading uv-sydney-2018.csv
Reading uv-sydney-2019.csv
Reading uv-sydney-2020.csv
Reading uv-sydney-2021.csv
Reading uv-sydney-2022.csv

In [12]:
# Check the first 5 rows of the combined data for each city
city_data[0].head()

            Date-Time    Lat     Lon  UV_Index
0 2007-03-27 00:01:00 -34.92  138.62       0.0
1 2007-03-27 00:02:00 -34.92  138.62       0.0
2 2007-03-27 00:03:00 -34.92  138.62       0.0
3 2007-03-27 00:04:00 -34.92  138.62       0.0
4 2007-03-27 00:05:00 -34.92  138.62       0.0

In [13]:
city_data[1].head()

            Date-Time    Lat     Lon  UV_Index
0 2007-05-10 00:01:00 -27.45  153.03       0.0
1 2007-05-10 00:02:00 -27.45  153.03       0.0
2 2007-05-10 00:03:00 -27.45  153.03       0.0
3 2007-05-10 00:04:00 -27.45  153.03       0.0
4 2007-05-10 00:05:00 -27.45  153.03       0.0

In [14]:
city_data[2].head()

            Date-Time    Lat    Lon  UV_Index
0 2007-03-27 00:01:00 -37.73  145.1       0.0
1 2007-03-27 00:02:00 -37.73  145.1       0.0
2 2007-03-27 00:03:00 -37.73  145.1       0.0
3 2007-03-27 00:04:00 -37.73  145.1       0.0
4 2007-03-27 00:05:00 -37.73  145.1       0.0

In [15]:
city_data[3].head()

            Date-Time    Lat    Lon  UV_Index
0 2010-11-19 00:01:00 -35.31  149.2      0.00
1 2010-11-19 00:02:00 -35.31  149.2      0.03
2 2010-11-19 00:03:00 -35.31  149.2      0.03
3 2010-11-19 00:04:00 -35.31  149.2      0.03
4 2010-11-19 00:05:00 -35.31  149.2      0.03

In [16]:
city_data[4].head()

            Date-Time    Lat     Lon  UV_Index
0 2007-12-06 00:00:00 -31.92  115.96      0.03
1 2007-12-06 00:01:00 -31.92  115.96      0.03
2 2007-12-06 00:02:00 -31.92  115.96      0.03
3 2007-12-06 00:03:00 -31.92  115.96      0.03
4 2007-12-06 00:04:00 -31.92  115.96      0.03

In [18]:
# Check if date-time of each df is in correct format
for city in city_data:
    print(city['Date-Time'].dtype) # Should all be datetime64[ns]

datetime64[ns]
datetime64[ns]
datetime64[ns]
datetime64[ns]
datetime64[ns]
datetime64[ns]